#mainSetting {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section_play {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonDiv {
    padding: 0 10px;
}

.bottonDiv {
    padding-bottom: 10px;
}

.button_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    padding-bottom: 5px;
    padding-top: 5px;
}

.setButton {
    padding: 5px 0;
}