#board {
    background-color: blue;
    border: 10px solid cornflowerblue;

    display: grid;
    grid-template-columns: repeat(7, 90px);
    grid-template-rows: repeat(6, 90px);
    justify-content: center;
    
    width: 650px;
    height: 560px;
    margin: 0 auto;
}

#playerColorBox {
    background-color: rgb(60, 60, 60);
    border: 5px solid grey;
    margin: 0 auto;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;

    justify-content: center;
}

.circle {
    border: 10px solid blue;
    background-color: white;
    border-radius: 50%;
}

#zero_zero {
    background-color: pink;
}

#invis {
    display: none; 
    font-size: 30px;
}